parameters:
    level: 0
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src/
    excludePaths:
        - src/Plugin.php
